*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

main{
  background: #FFFFFF;
  box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .6rem;
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
  margin-top: -12rem;
  text-align: center;
}

/*screen 1*/
.hide{
  display: none;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #34355B;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

button, p{
  font-family: 'DM Sans', sans-serif;
}

p{
  color: rgba(52, 53, 91, 0.8);
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

input, button{
  border: none;
  padding: 1.6rem;
}

button{
  background: #7879F1;
  border-radius: 0 .4rem .4rem 0;
  
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.6rem;

  width: 8.2rem;
  height: 5.3rem;
  
  cursor: pointer;

  transition: background .3s;
}

button:hover{
  background-color: #6363cee0;
}

input{
  background: #DCE2E9;
  border-radius: .4rem 0 0 .4rem;
  width: 5rem;
  height: 5.3rem;
}

form{
  justify-content: center;
  display: flex;
}

/*screen2*/
h2{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;

  text-align: center;

  color: #34355B;

  margin-bottom: 3.3rem;
}

.screen2 button{
  width: 16.6rem;
  height: 5.3rem;
  border-radius: .4rem;
}
